@import url();
body {
  display: flex;
  justify-content: space-evenly;
  margin: 0px;
}
.profileHead,
.profileNav {
  max-width: 20%;
  margin: 15px;
  padding: 30px;
}
.main {
  max-width: 100%;
  margin: 0px 15px 0px 15px;
  padding: 0px 30px 0px 30px;
}
